<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Result</h1>
    
    <p>FirstName: <%- formData.fname %></p>
    <p>LastName: <%- formData.lname %></p>
    <p>Color: <%- formData.color %></p>
    <p>Agreed: <%- formData.agree %></p>
    <p>Timestamp: <%- formData.timestamp %></p>

    <p style="color: <%- formData.color %>">Hello, <%- formData.lname %> <%- formData.fname %>!</p>
</body>